.Draftail-AI-LoadingOverlay {
  background-color: rgba(255, 255, 255, 0.7);

  .w-theme-dark & {
    background-color: rgba(60, 60, 60, 0.7);
  }

  @media (prefers-color-scheme: dark) {
    .w-theme-system & {
      background-color: rgba(60, 60, 60, 0.7);
    }
  }

  backdrop-filter: blur(8px);
  position: absolute;
  z-index: 19;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Draftail-AI-LoadingOverlay > span > svg {
  margin-right: 5px;
}

.Draftail-AI-LoadingOverlay > span {
  margin-bottom: 12px;
}

.Draftail-AI-ButtonDropdown {
  position: absolute;
  border: 1px solid var(--w-color-grey-200);
  border-radius: 0.3125rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  z-index: 200;
}

.Draftail-AI-ButtonDropdown > button {
  background-color: transparent;
  padding: 8px;
  text-align: left;
}

.Draftail-AI-ButtonDropdown > button span {
  font-weight: bold;
  display: block;
}

.Draftail-AI-ButtonDropdown > button:hover {
  background-color: var(--w-color-grey-200);
}

/* Temp fix for wagtail issue https://github.com/wagtail/wagtail/issues/11302 */
.Draftail-CommentControl {
  display: none;

  .tab-content--comments-enabled & {
    display: inline-block;
  }
}
