.wagtailai-input-wrapper {
  display: flex;
  align-items: stretch;
  gap: 0.3125rem;
}

.wagtailai-button {
  background: white;
  border: 1px solid var(--w-color-border-field-default);
  border-radius: 0.3125rem;
}

.wagtailai-button:hover {
  border-color: var(--w-color-border-field-hover);
}
