.wai-image-description__wrapper {
  display: flex;
  gap: 0.5rem;
}

.wai-image-description__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wai-image-description__icon {
  width: 1rem;
  height: 1rem;
  display: none;
}

.wai-image-description:not(.wai-image-description--loading) .icon-wand {
  display: block;
}

.wai-image-description--loading .icon-wand-animated {
  display: block;
}
